<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let task of tasks"
      [routerLink]="task.route"
      routerDirection="forward"
      [disabled]="!task.unlocked || task.completed"
      class="unlockedItems"
      lines="none"
    >
      <ion-label
        [ngClass]="{
    'completed': task.completed,
    'unlocked': task.unlocked && !task.completed,
    'locked': !task.unlocked && !task.completed
      }"
      >
        <h1>{{ task.label }}</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="points-bar">
    <span>{{ medaillen$ | async }}x 🥇</span>
    <span>{{ kartoffeln$ | async }}x 🥔</span>
  </div>
</ion-content>
