<ion-content fullscreen="true">
  <ion-card class="top-card">
    <ion-card-header>
      <ion-card-subtitle>Aufgabe 2</ion-card-subtitle>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="task-card">
    <ion-card-header>
      <ion-card-title>Scanne den QR Code</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="task-box">
        <div class="task-text">Halte die Kamera<br>über den QR Code</div>
        <!-- 🔍 Video-Stream aus Kamera -->
        <video #video width="100%" height="200" autoplay muted></video>
        <p style="margin-top: 10px;">Status: {{ scannerResult }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="startScanner()" class="qrcode-button">Scanner starten</ion-button>
</ion-content>

<ion-footer class="button-container">
  <ion-button class="cancel-button" (click)="cancelTask()">Abbrechen</ion-button>
  <ion-button class="skip-button" (click)="skipTask()">Überspr.</ion-button>
  <ion-button
    class="next-button"
    [disabled]="scannerResult !== 'M335@ICT-BZ'"
    (click)="completeTask()"
    [ngClass]="{
      'enabled-style': scannerResult === 'M335@ICT-BZ',
      'disabled-style': scannerResult !== 'M335@ICT-BZ'
    }"
  >
    Weiter
  </ion-button>
</ion-footer>
