<ion-content fullscreen="true">
  <ion-card class="top-card">
    <ion-card-header>
      <ion-card-subtitle>Aufgabe 1</ion-card-subtitle>
      <ion-card-title>Geolocation</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="task-card">
    <ion-card-header>
      <ion-card-title>Begebe dich zur <br> Migros</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="task-box">
        <div class="task-text">
          <p *ngIf="currentDistance !== null">
            Du bist<br><strong></strong> Meter<br>entfernt
          </p>
          <p *ngIf="currentDistance === null">Position wird ermittelt...</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="button-container">
  <ion-button class="cancel-button">Abbrechen</ion-button>
  <ion-button class="skip-button">Überspr.</ion-button>
  <ion-button
    class="next-button"
  >
    Weiter
  </ion-button>
</ion-footer>
